# Example buildout using Plone 3 and a multi-db async setup.
# Multi-db setup is suitable for medium to high activity sites.

[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

extends =
    http://download.zope.org/zope3.4/3.4.0/versions.cfg
    http://dist.plone.org/release/3.3.5/versions.cfg

find-links =
    http://dist.plone.org/release/3.3.5
    http://dist.plone.org/thirdparty

parts =
    zope2
    zeo
    instance
    worker
    test
    zopepy

versions = versions
develop = .

[versions]
# zodb
ZODB3 = 3.8.4
zope.proxy = 3.4.2
zope.security = 3.4.1
# zc.async
zc.async = 1.5.4
zc.twist = 1.3.1
zc.queue = 1.1
zc.dict = 1.3b1
zc.blist = 1.0b2
zope.bforest = 1.2
zope.minmax = 1.1.2
uuid = 1.30
Twisted = 10.2.0
rwproperty = 1.0
# zc.monitor
zc.monitor = 0.2.0
zc.ngi = 1.1.6
# zc.z3monitor
zc.z3monitor = 0.7.0
zope.app.appsetup = 3.4.1
zope.error = 3.5.1
zope.testing = 3.7.7

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}
skip-fake-eggs =
    ZODB3
    zope.proxy
    zope.security
    zope.app.appsetup
additional-fake-eggs =
    zope.app.component = 3.4.1

[zeo]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = localhost:8000
file-storage = ${buildout:directory}/var/filestorage/Data.fs
eggs = ${instance:eggs}
zeo-conf-additional =
    <filestorage 2>
        path ${buildout:directory}/var/filestorage/Async.fs
    </filestorage>

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
zeo-client = true
zeo-address = ${zeo:zeo-address}
zodb-cache-size = 50000
zeo-client-cache-size = 5MB
eggs =
    Plone
    plone.app.async
zcml =
zcml-additional =
    <include package="plone.app.async" file="multi_db_instance.zcml" />
environment-vars =
    ZC_ASYNC_UUID ${buildout:directory}/var/instance-uuid.txt
zope-conf-additional =
    <zodb_db async>
        cache-size ${instance:zodb-cache-size}
        <zeoclient>
            server ${zeo:zeo-address}
            storage 2
            name asyncstorage
            var ${buildout:parts-directory}/instance/var
            cache-size ${instance:zeo-client-cache-size}
        </zeoclient>
        mount-point /zasync
    </zodb_db>
    <product-config zc.z3monitor>
        port 8081
    </product-config>

[worker]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = ${instance:user}
http-address = 8082
zserver-threads = 2
debug-mode = on
verbose-security = on
zeo-client = true
zeo-address = ${zeo:zeo-address}
zodb-cache-size = ${instance:zodb-cache-size}
zeo-client-cache-size = ${instance:zeo-client-cache-size}
eggs = ${instance:eggs}
zcml =
zcml-additional =
    <include package="plone.app.async" file="multi_db_worker.zcml" />
environment-vars =
    ZC_ASYNC_UUID ${buildout:directory}/var/worker-uuid.txt
zope-conf-additional =
    <zodb_db async>
        cache-size ${worker:zodb-cache-size}
        <zeoclient>
            server ${zeo:zeo-address}
            storage 2
            name asyncstorage
            var ${buildout:parts-directory}/worker/var
            cache-size ${worker:zeo-client-cache-size}
        </zeoclient>
        mount-point /zasync
    </zodb_db>
    enable-product-installation off

[test]
recipe = zc.recipe.testrunner
extra-paths = ${zope2:location}/lib/python
eggs = ${instance:eggs}
defaults = ['--exit-with-status', '-v', '-s', 'plone.app.async']
initialization =
    import warnings
    warnings.simplefilter('ignore', DeprecationWarning)

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
